body {
	background-color: #e8e8e8;
	font-family: TimesNewRoman;
}

nav {
	background-color: #e8e8e5;
	padding: 1.1em;
	width: 15%;
}

section {
	background-color: #e8e8e5;
	padding: 1.1em;
}

.flex1 {
	display: flex;
}

.flex section {
	width: 15%;
}

.hr hr{
	align-self: left;
	width: 15%;
	size: 300;
	padding-left: 20px;
}

.parrafoMayuscula p {
	color: green;
	text-transform: uppercase;
	font-family: Verdana;
	width: 90%;
	text-align: center;
	padding-left: 30px; 
}

.parrafoMayuscula1 p {
	text-transform: capitalize;
	text-align: justify;
  	text-justify: inter-word;
  	font-size: 0.5em;
  	color: black;
}

.div1 div {
	white-space: normal;
}

.div2 div {
	white-space: nowrap;
}

.div3 div {
	white-space: pre;
}

.div4 div {
	white-space: pre-line;
}

.div5 div {
	white-space: pre-wrap;
}

.div6 div {
	white-space: initial;
}

.divEnlaces {
	display: flex;
	flex-direction: row;
}

.a1 a {
	padding-right: 1.5em;
	text-align: center;
}

.a1 a:hover {
	background-image: url("imagenes/animated-gif-showcase-davidope.gif");
	color: red;
	font-size: 1.5em;
}

.articleSection article {
	padding-right: 1.5em;
}

.a2-1 a:link {
	color: pink;
	text-align: center;
}

.a2-2 a:visited {
	color: purple;
	text-align: center;
}

.a2-3 a:hover {
	color: cyan;
	text-align: center;
}

.a3 a {
	
	padding-right: 1.5em;
	text-align: center;
}

.ul ul {
	list-style-image: url("imagenes/pngwing.png");
}

.a4 {
	font-family: verdana, arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    padding: 4px;
    background-color: #ffffcc;
    color: #666666;
    text-decoration: none;
}

.a4:visited {
   border-top: 1px solid #cccccc;
   border-bottom: 2px solid #666666;
   border-left: 1px solid #cccccc;
   border-right: 2px solid #666666;
}
.a4:hover {
    border-bottom: 1px solid #cccccc;
   border-top: 2px solid #666666;
   border-right: 1px solid #cccccc;
   border-left: 2px solid #666666;
} 